/* FONTS */
@font-face {
    font-family: "Handlee";
    src: url("/static/fonts/Handlee-Regular.ttf") format("truetype");
}

/* BASE & GLOBAL */
html,
body {
    height: 100%; /* Ensure full-height layout */
}

body {
    background-color: #0d0d0d;
    color: white;
    padding: 2rem;
    font-family: sans-serif;
}

/* UTILITIES */
.text-purple-glow {
    color: #9a56ff;
    text-shadow: 0 0 3px #9a56ff;
}

.btn-purple {
    background-color: #8d41ff;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 2px #8d41ff, 0 0 3px #8d41ff;
    transition: all 0.3s ease;
}

.btn-purple:hover {
    background-color: #9a56ff;
    box-shadow: 0 0 2px #8d41ff, 0 0 3px #8d41ff;
}

/* NAVBAR */
.navbar {
    border-radius: 0.6rem;
    height: 6rem;
    padding: 0 0.5rem;
    font-size: 1.35rem;
}

.navbar-brand {
    margin-top: 0.6rem;
    margin-left: 0.8rem;
    font-family: "Handlee";
    font-size: 220%;
    text-shadow: 0 0 1px #fca100;
    height: 5rem;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:visited {
    color: #fca100;
}

.navbar-brand img {
    width: 1rem;
    margin-bottom: 3.4rem;
    position: relative;
    left: -8px;
}

/* LOGO WRAPPER */
.img-wrapper {
    padding: 0.15rem;
    background: #fca100;
    border-radius: 0.4rem;
    box-shadow: 0 0 2px #fca100;
}

.img-wrapper img {
    width: 3.6rem;
    border-radius: 0.3rem;
}

/* LAYOUT WRAPPERS */
.paw-container {
    height: calc(100% - 6rem); /* minus navbar height */
}

.paw-row {
    height: 100%;
}

.sidebar {
    height: calc(100% - 1.5rem);
}

.paw-main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* CARDS & BOXES */
.card-color {
    background-color: #1a1a1a;
    border: 2px solid #242424;
}

.paw-card {
    border-radius: 0.6rem;
    margin-top: 1.5rem;
    padding: 1rem;
}

.header-card {
    height: 10rem;
}

/* CARD GRID AREA */
.card-grid {
    height: 100%;
    padding: 0;
}

.card-grid .row {
    height: 50%;
}

/* PAWFOLIO SECTION */
.pawfolio-main {
    flex-grow: 1;
}

/* Manager Card & Info  */
.manager-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.manager-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.manager-name {
    font-family: "Handlee";
    font-size: 115%;
    font-weight: bold;
    color: #fca100;
    text-shadow: 0 0 1px #fca100;
    margin-left: 0.5rem;
}

#manager-animation {
    overflow: hidden;
    flex-shrink: 0;
}

#manager-animation video {
    margin-top: 0.3rem;
    width: 100%;
    border: 2px solid #242424;
    border-radius: 0.4rem;
}

#manager-info {
    font-family: "Handlee";
    margin-top: 0.3rem;
    border: 2px solid #242424;
    background-color: #212121;
    border-radius: 0.4rem;
    flex-grow: 1;
    padding: 0.6rem;
    font-size: 0.9rem;
    max-height: 9rem;
    color: #fca100;
}
