body {
    background-color: #0d0d0d;
    color: white;
    padding: 2rem;
}

.paw-card {
    background-color: #1a1a1a;
    border: 2px solid orange;
    box-shadow: 0 0 6px 2px orange;
    border-radius: 0.5rem;
    padding: 1.5rem;
    height: 18rem;
}

.paw-card-title {
    color: orange;
}
