/* Fonts */
@font-face {
    font-family: "Handlee";
    src: url("/static/fonts/Handlee-Regular.ttf") format("truetype");
}

/* Ensure full height for layout calculations */
html,
body {
    height: 100%;
}

/* Base body styles */
body {
    background-color: #0d0d0d;
    color: white;
    padding: 2rem;
}

.text-purple-glow {
    color: #9a56ff;
    text-shadow: 0 0 3px #9a56ff;
}

.btn-purple {
    background-color: #8d41ff;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 2px #8d41ff, 0 0 3px #8d41ff;
    transition: all 0.3s ease;
}

.btn-purple:hover {
    background-color: #9a56ff;
    box-shadow: 0 0 2px #8d41ff, 0 0 3px #8d41ff;
}

/* Navbar/Sidebar/Cards styles */
.card-color {
    background-color: #1a1a1a;
    border: 2px solid #242424;
}

/* Top navigation bar */
.navbar {
    border-radius: 0.6rem;
    height: 6rem;
    padding: 0 0.5rem;
    font-size: 1.35rem;
}

/* Brand/logo styling */
.navbar-brand {
    margin-top: 0.6rem;
    margin-left: 0.8rem;
    font-family: "Handlee";
    font-size: 220%;
    text-shadow: 0 0 1px #fca100;
    height: 5rem;
}

.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:visited {
    color: #fca100;
}

.navbar-brand img {
    width: 1rem;
    margin-bottom: 3.4rem;
    position: relative;
    left: -8px;
}

.img-wrapper {
    padding: 0.15rem;
    background: #fca100;
    border-radius: 0.4rem;
    box-shadow: 0 0 2px #fca100;
}

.img-wrapper img {
    width: 3.6rem;
    border-radius: 0.3rem;
}

/* Main content container (below navbar) */
.paw-container {
    height: calc(100% - 6rem); /* minus navbar height */
}

/* Full-height row inside the paw-container */
.paw-row {
    height: 100%;
}

/* Sidebar height adjustment */
.sidebar {
    height: calc(100% - 1.5rem);
}

/* Main content column */
.paw-main {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header cards */
.header-card {
    height: 10rem;
}

/* Responsive grid for paw cards */
.paw-grid {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.paw-grid > .col-md-4 {
    display: flex;
    flex-direction: column;
    height: 50%; /* Two rows */
}

.paw-grid .paw-card {
    flex-grow: 1;
}

/* Portfolio cards */
.paw-card {
    border-radius: 0.6rem;
    margin-top: 1.5rem;
    padding: 1rem;
}
