{% load static %}
<section class="paw-card card-color manager-card" style="display:none">
    <h5 class="paw-card-title">
        Pawfolio Manager: <span class="manager-name">Gwendolyn</span>
    </h5>
    <div id="manager-animation">
        <video preload="auto" autoplay loop muted disablePictureInPicture>
            <source src="{% static 'animations/gwendolyn.webm' %}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="manager-info">
        “I don’t follow the herd — I nap when others chase and pounce when they panic. Common sense? Overrated. I trust
        my tail, not trends. While my brothers groom spreadsheets, I follow the scent. It’s not chaos — it’s
        cat-tuition. Mischief, elegance, rebellion. Gwendolyn-style.”
    </div>
</section>
