{% load static %}
<section class="paw-card card-color manager-card flex-grow-1 flex-column d-none">
    <h5 class="paw-card-title">
        Pawfolio Manager: <span class="manager-name">Mortimer</span>
    </h5>
    <div id="manager-animation">
        <video preload="auto" autoplay loop muted disablePictureInPicture>
            <source src="{% static 'animations/mortimer.webm' %}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="manager-info" class="flex-grow-1">
        “Purr-sonally, I like to keep it simple. I sniff out companies that are doing
        well and aren’t too pricey. It’s about finding strong businesses at fair prices
        — no fancy tricks, just good instincts and a bit of patience. Invest with the
        calm confidence of a well-groomed cat.”
    </div>
</section>
