{% load static %}
<section class="paw-card card-color manager-card flex-grow-1 flex-column d-none">
    <h5 class="paw-card-title">
        Meownager: <span class="manager-name">Aurelia Goldwhisker</span>
    </h5>
    <div id="manager-animation">
        <video preload="auto" autoplay loop muted disablePictureInPicture>
            <source src="{% static 'animations/aurelia.webm' %}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="manager-info" class="flex-grow-1">
        “I looove gold. It’s timeless, elegant, and always purrrecious. While others scramble and stress, I simply shine. My strategy? Simple: put it all in gold and let the world catch up. I preserve value with style — and wait for the golden rise with quiet grace. Stay classy. Stay golden.”
    </div>
</section>
