{% load static %}
<section class="paw-card card-color manager-card flex-grow-1 flex-column d-none">
    <h5 class="paw-card-title">
        Pawfolio Manager: <span class="manager-name">Cecil</span>
    </h5>
    <div id="manager-animation">
        <video preload="auto" autoplay loop muted disablePictureInPicture>
            <source src="{% static 'animations/cecil.webm' %}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    </div>
    <div id="manager-info" class="flex-grow-1">
        “I may be the younger cat, but I’ve learned the value of strong businesses at fair prices — just like my brother
        Mortimer. The difference? While he curls up with the classics, I keep one ear perked for promising industries.
        Clever cats know when to pounce.”
    </div>
</section>
